$blue-epi: rgb(100, 200, 220);
$blue-meso: rgb(120, 120, 255);
$blue-bathy: rgb(80, 80, 200);
$blue-abysso: rgb(60, 60, 150);
$blue-hadal: rgb(40, 40, 80);

$sun-orange: rgb(240, 120, 10);
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
    
    color: rgba(255, 255, 255, 0.7);
}

h1 {
    margin: 0;
}

#scale {
    z-index: 150;
    width: 1cm;
    height: 1cm;
    border: solid 1px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform:translateX(-50%) rotateZ(45deg);
}
.arrow{
    display: none;
    position: absolute;
    
    width: .5cm;
    height: .5cm;
    transition: .3s all;
}
.arrow:hover{
    background-color: rgba($sun-orange, 0.7);
    transition: .3s all;
}
.up-arrow{
    
    border-left: solid 2px white;
    border-top: solid 2px white;
    
    top: -1cm;
    left: -1cm;
}
.down-arrow{
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    
    top: 1.5cm;
    left: 1.5cm;
}

.bounce-container{
    position: absolute;
    top: 40%;
    left: 50%;
    
    animation: bounce 3s infinite;
}
#down-indicator {
    font-size: 30px;
    
    transform: rotateZ(180deg) translateX(50%);
    
    color: $blue-hadal;
}

#hud {
    
    display: none;
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#test-message {
    z-index: 200;
}

#depth-info {
    z-index: 100;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    font-size: 15px;
}

#current-zone {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}

.ruler-mark {
    z-index: 100;
    position: absolute;
    height: 5px;
    box-sizing: border-box;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    p{
        font-size: 12px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 110%;
        top: -16px;
    }
}

.zone-container {
    position: relative;
    >h1 {
        display: none;
        font-size: 10px;
    }
}

.zone-container::before {
    z-index: 100;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
#hadalpelagic::before{
    display: none;
}

#sky {
    height: 90vh;
    position: relative;
    background: linear-gradient(to bottom left, lightblue 10%, rgb(180, 20, 220) 70%, rgb(240, 120, 10) 90%);
    #sun {
        position: absolute;
        left: 0px;
        transform: translateX(-50%);
        bottom: -100px;
        width: 200px;
        height: 200px;
        background-color: rgb(240, 120, 10);
        background: linear-gradient(to bottom right, $sun-orange, rgb(255, 60, 20));
        border-radius: 50%;
        border: solid 1px rgb(240, 120, 10);
    }
    .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 10px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        h1 {
            font-size: 40px;
            background: -webkit-linear-gradient($blue-meso, $blue-hadal);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2 {
            font-size: 15px;
            color: $blue-meso;
        }
    }
}

// 1cm = 2m
.global-container {
    height: 100vh;
    #epipelagic {
        border-top: solid 2px $blue-meso;
        height: 100cm; // (200m, 1.83%)
        background-color: $blue-epi;
        background: linear-gradient($blue-epi, $blue-meso);
    }
    #mesopelagic {
        height: calc(500cm - 100cm); // (200m - 1000m) 800m total (7.32%)
        background-color: $blue-meso;
        background: linear-gradient($blue-meso, $blue-bathy);
    }
    #bathypelagic {
        height: calc(2000cm - 500cm); // (1000m - 4000m) 3,000m total (27.17%)
        background-color: $blue-bathy;
        background: linear-gradient($blue-bathy, $blue-abysso);
    }
    #abyssopelagic {
        height: calc(3000cm - 2000cm); // (4000m - 6000m) 2,000 total (18.3%)
        background-color: $blue-abysso;
        background: linear-gradient($blue-abysso, $blue-hadal);
    }
    #hadalpelagic {
        height: calc(5497cm - 3000cm); // (6000m - 10994m) 4,994 total (45.38%)
        background-color: $blue-hadal;
    }
    #epipelagic.compressed {
        height: 1.83%;
    }
    #mesopelagic.compressed {
        height: 7.32%;
    }
    #bathypelagic.compressed {
        height: 27.17%;
    }
    #abyssopelagic.compressed {
        height: 18.3%;
    }
    #hadalpelagic.compressed {
        height: 45.38%;
    }
}

.event-container{
    font-family: 'Neuton', serif;
    position: absolute;
    left: 100px;
    h2{
        margin: 0;
        font-size: 15px;
        transform: translateY(-50%);
    }
    h2::after{
        content: "";
        position: absolute;
        right: -30px;
        
        width: 15px;
        height: 15px;
        border: solid 1px $sun-orange;
        
        transform: rotateZ(45deg);
    }
}

@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    70%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}